/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}

.header {
  background-color: #000;
  color: #fff;
}
.menu-header ul {
  display: flex;
  gap: 2rem;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
}

.header-logo {
  max-width: 130px;
  flex-shrink: 0;
}
.header-logo img {
  width: 100%;
  height: auto;
  display: block;
}
.search-bar {
  flex: 1;
  max-width: 600px;
  position: relative;
}
.search-input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}
.search-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 0 8px 8px 0;
  width: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-btn i {
  color: #fff;
  font-size: 16px;
}
.user-actions {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
}
.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.3s;
  cursor: pointer;
  width: fit-content;
}
.icon {
  font-size: 22px;
  margin-bottom: 4px;
}
.cart-icon {
  position: relative;
}
.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.3s;
  cursor: pointer;
  width: fit-content;
}
.action-item:hover {
  color: #ccc;
}
.cart-count {
  position: absolute;
  top: -10px;
  right: 8px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}
