/* ==== Layout danh sách sản phẩm ==== */
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  padding: 20px;
  background: #f5f5f5;
  width: 100%;
  min-width: 1280px;
  max-width: 1440px;
  padding: 0px 24px;

  margin: 40px auto;
}

/* ==== Product Card ==== */
.product-card {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

/* ==== Hình sản phẩm ==== */
.product-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

/* ==== Tên sản phẩm ==== */
.product-name {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
  height: 40px;
  overflow: hidden;
  color: #333;
}

/* ==== Giá ==== */
.product-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #d70018;
}

.old-price {
  text-decoration: line-through;
  color: #777;
  font-size: 13px;
}
