.main-nav {
  background-color: #f1f1f1;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}
.nav-menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.nav-menu li {
  margin: 0 15px;
  position: relative;
  padding: 15px 10px;
  cursor: pointer;
}
.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}
.icon-pin {
  margin-right: 8px;
}
.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}

.nav-menu li.has-dropdown:hover > .dropdown-menu {
  display: block;
}
.nav-menu li {
  margin: 0 15px;
  position: relative;
  width: 182px;
  padding: 15px 10px;
  cursor: pointer;
}
.dropdown-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
