@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  color: #14274e;
}

.flex-basic-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button */
.btn-main {
  cursor: pointer;
  background: #14274e;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
}

.btn-main:hover {
  background: #394867;
}
/* Button */

.wrapper-card-items {
  display: flex;
  column-gap: 4rem;
  flex-wrap: wrap;
  row-gap: 8rem;
  padding-top: 7rem;
}

.card-items {
  width: 30%;
  height: 200px;
  box-shadow: 0px 4px 20px 0px rgba(72, 119, 159, 0.18);
  position: relative;
  cursor: pointer;
}

.card-image-pizza {
  width: 200px;
  position: absolute;
  top: -90px;
  left: 22.5%;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  background: #14274e;
}
